@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:host {
  display: block;
  font-family: 'Poppins', sans-serif;
  background: #eef6ff;
  min-height: 100vh;
  padding: 20px;
}

.menu-admin {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  align-items: center;
}

.menu-admin a {
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}

.menu-admin button {
  margin-left: auto;
  background: #ef4444;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  color: white;
}

/* ✅ TABLA */ 
.tabla {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 14px;
  overflow: hidden;
}

.tabla th, .tabla td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.btn-eliminar {
  background: #dc2626;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
}

/* ✅ DETALLE */
.detalle {
  margin-top: 25px;
  background: white;
  padding: 20px;
  border-radius: 16px;
}
.btn-ver {
  background: #2563eb;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.2s;
}

.btn-ver:hover {
  background: #1e3a8a;
}

.btn-cerrar {
  margin-top: 15px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.btn-cerrar:hover {
  background: #1e3a8a;
}
